.default-button {
  font-family: $font-family-sans-serif;
  color: $officecrew-white;
  background-color: $officecrew-dark-blue;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid $officecrew-dark-blue;
  border-radius: 30px;
  font-size: 1.3rem;
  &:hover {
    cursor: pointer;
    background-color: $officecrew-white;
    color: $officecrew-light-blue;
  }
}

.form-submit-button {
  font-family: $font-family-sans-serif;
  color: $officecrew-white;
  background-color: $officecrew-light-blue;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid $officecrew-light-blue;
  border-radius: 30px;
  font-size: 1.3rem;
  &:hover {
    cursor: pointer;
    background-color: $officecrew-white;
    color: $officecrew-light-blue;
  }
}