// Colorså
$chilli-light-blue: #5bdeee;
$chilli-dark-blue: #00629b;
$chilli-orange: #f7941d;

$chilli-red: #EF4E52;
$chilli-black: #000000;
$chilli-ecru: #FFF5E6;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Cubano";
    src: url("/fonts/Cubano-Regular.otf");
    }

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-heading: 'Cubano', sans-serif;
$font-size-base: 1rem ;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

// Links
$link-color: $theme-black;

// Nav
$navbar-height: 70px;

// Buttons
$btn-border-radius: 1px;
$btn-primary-bg: white;
$btn-primary-color: $theme-dark;
$btn-padding-x: 1.75rem;

//menu Option Types

$option-type-image:  1;

// Heading sizes
$menu-heading-lg: 26px;
$menu-heading-sm: 20px;
