// Colors

$officecrew-dark-blue:      #002832;
$officecrew-light-blue:     #007dff;
$officecrew-white:          #ffffff;

// Fonts

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 1rem ;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

// Font We

$extra-light: 200;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Buttons
$btn-border-radius: 1px;
$btn-primary-bg: white;
$btn-padding-x: 1.75rem;